<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark-subtle shadow" th:fragment="nav">
    <div class="container text-center">
        <a class="navbar-brand" th:href="@{/}">
            <img src="/img/magnifier-glass.svg" alt="Logo" width="30" height="30" class="d-inline-block">
            나에 관해
        </a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tabMenu == 'history' ? 'active' : ''}" th:href="@{/history}">이력</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tabMenu == 'like' ? 'active' : ''}" th:href="@{/like}">좋아하는 것</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:classappend="${tabMenu == 'link' ? 'active' : ''}" th:href="@{/link}">링크</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>