<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="board">
    <br>
    <div class="container border rounded bg-danger-subtle" style="padding: 1rem; width: 60rem">
        <div class="row g-2 align-items-center">
            <div class="col-4">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="이름">
            </div>
            <div class="col-7">
                <input type="text" class="form-control" id="exampleFormControlTextarea1" placeholder="글 남기기">
            </div>
            <div class="col-1 text-center">
                <button type="submit" class="btn btn-secondary">작성</button>
            </div>
        </div>
    </div>
    <br>

</div>
</body>
</html>