<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="like">
    <br>
    <div class="row g-4">
        <div class="col-4">
            <div class="card shadow">
                <img src="/img/tqm3.png" class="card-img-top border-bottom" alt="...">
                <div class="card-body bg-body-secondary">
                    <h2 class="card-text text-center">게임</h2>
                </div>
            </div>
            <br>
            <div class="card shadow">
                <img src="/img/rock.webp" class="card-img-top border-bottom" alt="...">
                <div class="card-body bg-body-secondary">
                    <h2 class="card-text text-center">락 음악</h2>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <img src="/img/rust.jpg" class="card-img-top border-bottom" alt="...">
                <div class="card-body bg-body-secondary">
                    <h2 class="card-text text-center">Rust</h2>
                </div>
            </div>
            <br>
            <div class="card shadow">
                <img src="/img/hiphop.jpg" class="card-img-top border-bottom" alt="...">
                <div class="card-body bg-body-secondary">
                    <h2 class="card-text text-center">힙합 음악</h2>
                </div>
            </div>
            <br>
            <div class="card shadow">
                <img src="/img/bedroom.jpg" class="card-img-top border-bottom" alt="...">
                <div class="card-body bg-body-secondary">
                    <h2 class="card-text text-center">침대</h2>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card shadow">
                <img src="/img/gamja.webp" class="card-img-top border-bottom" alt="...">
                <div class="card-body bg-body-secondary">
                    <h2 class="card-text text-center">감자탕</h2>
                </div>
            </div>
            <br>
            <div class="card shadow">
                <img src="/img/fish.webp" class="card-img-top border-bottom" alt="...">
                <div class="card-body bg-body-secondary">
                    <h2 class="card-text text-center">회</h2>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
</body>
</html>